# Entorno virtual de Python
venv/
clean_venv/
.env

# Archivos de entorno y variables sensibles
.env
*.env
.env.local

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración de IDE
.idea/
.vscode/
*.swp
*.swo

# Logs y bases de datos locales
*.log
*.sqlite3

# Archivos generados por el sistema
.DS_Store
Thumbs.db

# Archivos de instalación de Python
*.egg-info/
dist/
build/